* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    background: rgba(0, 0, 0, 1.0);
    text-align: left;
}

.container {
    max-width: 980px;
    margin: 0 auto;
}

.row {
    box-sizing: border-box;
    margin: 2% auto 0 auto;
    width: 100%;
    clear: both;
    overflow: hidden;
}

header {
    font-size: 3.5rem;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    color: rgba(255, 205, 0, 1.0);
    text-shadow: 0 2px 0 red;

}

.timer, .score {
    box-sizing: border-box;
    display: inline-block;
    font-size: 2.0rem;
    font-family: 'Overpass Mono', monospace;
    width: 40%;
    color: rgba(255, 205, 0, 1.0);
    margin: 2% 5% 0;
    padding: 1%;
}

.timer {
    text-align: left;
}

.score {
    text-align: right;
}

.question {
    font-size: 2.0rem;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    color: white;
    width: 90%;
    background-color: white;
    border-radius: 10px;
    margin: 2% auto 0 auto;
    padding: 1% 1% 2%;
    line-height: 120%;
}

.answer {
    box-sizing: border-box;
    font-size: 1.5rem;
    font-family: 'Audiowide', cursive;
    text-align: center;
    display: inline-block;
    position: relative;
    width: 40%;
    color: red;
    background-color: white;
    border-radius: 10px;
    margin: 2% 5% 0;
    padding: 1%;
    transition: 1s ease;
    cursor: pointer;
    text-shadow: 0 2px 0 black;
    transition: 0.6s ease;
    border: 1px solid white;
}

.answer:hover{
    background-color: rgba(255,255,255,0.25);
    border: 1px solid red;
}

#answerRow {
    padding-bottom: 10px;
}

section>p {
    font-size: 1.8rem;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Audiowide', cursive;
    color: rgba(255, 205, 0, 1.0);
}

section>p.detail {
    font-size: 1.4rem;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Audiowide', cursive;
}

button {
    width: 20%;
    margin: 4% 40%;
    text-align: center;
    font-size: 2.0rem;
    font-family: 'Audiowide', cursive;
    color: red;
    background-color: white;
    border-radius: 8px;
    transition: 0.6s ease;
}

button:hover{
    background-color: rgba(255,255,255,0.25);
}

img {
    margin: 2% 30%;
    width: 40%;
    background-color: white;
    padding: 1%;
}

.startRow>p {
    color: red;
}

.qLet {
    transition: 1s ease;
}

.blockEffect {
    text-shadow: 0 1px 0 #c9cfce, 
      0 2px 0 #bcc2c2, 
      0 3px 0 #afb6b6, 
      0 4px 0 #a4adac, 
      0 5px 0 #9fa8a7,
      0 0 5px rgba(0,0,0,.05),
      0 1px 3px rgba(0,0,0,.2), 
      0 3px 5px rgba(0,0,0,.2), 
      0 5px 10px rgba(0,0,0,.2), 
      0 10px 10px rgba(0,0,0,.2);
}

.transText {
    color: black;
}

@media screen and (max-width: 800px) {
    html {
        font-size: 0.8rem;
    }

    .blockEffect {
        text-shadow: 0 1px 0 #c9cfce, 
          0 2px 0 #bcc2c2, 
          0 3px 0 #afb6b6, 
          0 4px 0 #a4adac, 
          0 0 5px rgba(0,0,0,.05),
          0 1px 3px rgba(0,0,0,.2), 
          0 3px 5px rgba(0,0,0,.2);
    }

    .answer {
        text-shadow: none;
    }

}

@media screen and (max-width: 500px) {
    html {
        font-size: 0.5rem;
    }

    .blockEffect {
        text-shadow: 0 1px 0 #c9cfce, 
          0 2px 0 #bcc2c2, 
          0 3px 0 #afb6b6, 
          0 0 5px rgba(0,0,0,.05),
          0 1px 3px rgba(0,0,0,.2), 
    }
}
